{% extends "allauth/layouts/main_base.html" %}
{% load static %}
{% block head_title %}Create Registration{% endblock head_title %}
{% block stylesheet %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<style>
  .hidden { display: none; }
  .select2-container {
      width: 100% !important;
  }
</style>
{% endblock stylesheet %}

{% block pages %}
<main>
    <h1>Create a Registration</h1>
    <form method="post">
        {% csrf_token %}

        {{ registration_form.as_p }}

        <div class="button-container">
            <button type="submit">Save</button>
        </div>
    </form>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    const all_clubs_members = JSON.parse('{{ all_clubs_members|escapejs }}');
    console.log(all_clubs_members); // Debugging: Ensure this logs correctly
</script>


<script>
    document.addEventListener("DOMContentLoaded", function () {

        const invitedUsersField = $('#id_invited_users');
        invitedUsersField.select2({
            placeholder: "Select invited users",
            allowClear: true
        });
        const invitedClubsField = $('#id_invited_clubs');
        invitedClubsField.select2({
            placeholder: "Select invited clubs",
            allowClear: true
        });


        
    });
</script>
{% endblock pages %}
