{% extends "allauth/layouts/main_base.html" %}
{% load i18n %}
{% load static %}
{% load markdownify %}
{% load allauth account %}
{% block head_title %}
{% trans "Profile" %}
{% endblock head_title %}
{% block pages %}
<h1>Manage Timeline Events</h1>

<form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Event</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for form in formset %}
            <tr>
                <td>{{ form.date }}</td>
                <td>{{ form.event }}</td>
                <td>{{ form.DELETE }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit">Save Changes</button>
</form>
<a href="{% url 'event:timeline_list' response_id=response_id %}">Back to Timeline List</a>
{% endblock pages %}
